<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lank.demo.sys.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lank.demo.sys.entity.User">
        <result column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="username" property="username"/>
        <result column="login_password" property="loginPassword"/>
        <result column="utc_create" property="utcCreate"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <select id="selectPageVo" resultType="com.lank.demo.sys.entity.User">
     select id , username from sys_user u where u.username like concat('%', #{username} , '%')
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time, username, login_password, email
    </sql>

    <select id="getAllByXml" resultType="HashMap">
	   SELECT * FROM sys_user t
	   where 1= 1
	   <if test="id != null">
           and t.id = #{id}
       </if>
    </select>
</mapper>
